* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html, body {
    height: 100%;
    width: 100%;
}

.hero-name {
    height: 450px;
    width: 100%;
    padding: 50px;
}

.hero-name > h1 {
    font-size: 150px;
    line-height: 160px;
    letter-spacing: -4px;
}

.nav {
    position: fixed;
    top: 30px;
    right: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.cart {
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
}

.menu {
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
}

.place {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-img {
    height: 700px;
    width: 100%;
    background-image: url("assets/bangaru.jpeg");
    background-size: cover;
    object-fit: cover;
}

.about {
    padding: 0 60px;
}

.about-content {
    display: flex;
    padding: 60px 0;
    border-bottom: 2px solid black;
}

.about-left {
    height: 40%;
    width: 60%;
    font-size: 55px;
    line-height: 80px;
}

.about-right {
    border-left: 2px solid black;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-me {
    font-size: 27px; 
    font-weight: 600;
}

.social {
    font-size: 20px;
}

.social a {
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 10px;
}

.about2 {
    height: 45%;
    width: 100%;
    display: flex;
    padding: 50px 60px;
}

.about2-left {
    font-size: 20px;
    width: 35%;
    height: 420px;
    padding-right: 60px;
    border-right: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.about2-right {
    width: 65%;
    height: 420px;
}

.about2-right-content {
    padding: 0px 60px;
}

.about2-right-content h2{
    font-size: 40px;
}

.about2-right-content p{
    margin-top: 20px;
}

.about2-right-content-top {
    display: flex;
    border-bottom: 2px solid black;
}

.about2-right-content-down {
    display: flex;
}

.card1 , .card2 {
    margin-bottom: 40px;
    padding: 0px 40px;
    width: 50%;
}

.card1:nth-child(1) {
    border-right: 2px solid black;
}

.card2 {
    margin-top: 50px;
}

.card2:nth-child(1) {
    border-right: 2px solid black;
}

.card-content p {
    font-size: 18px;
    color: rgb(66, 64, 64);
}

.work {
    overflow: hidden;
    white-space: nowrap;
}

.work h1 {
    font-size: 150px;
    font-weight: bold;
}

.work-img {
    height: 700px;
    width: 100%;
    object-fit: cover;
    background-image: url(https://cdn.prod.website-files.com/64589fb989b2b3e8783db8c8/645cad0d8364135d4087b9c8_project-01-p-2000.webp);
}

.cam {
    width: 50%;
}

.cam h1 {
    height: 100%;
    padding-left: 120px;
    font-size: 120px;
}

.right {
    width: 50%;
    padding: 50px;
}

.right h2 {
    font-size: 20px;
    color: rgb(66, 64, 64);
}

.right button {
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px;
    background-color: black;
    border-radius: 50px;
    color: white;
    font-weight: 600;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
}

.head h2{
    padding-top: 100px;
    font-size: 30px;
    margin: 10px;
}

.talk h1 {
    font-size: 100px;
}

.get-in-touch {
    font-size: 20px;
    margin-top: 30px;
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 50px;
    font-weight: 600;
    margin-bottom: 50px;
}